#hero {
  width: 100%;
  max-width: 90rem;

  background: url(/assets/images/hero-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  & header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 400px;
    margin-top: 15px;
  }

  & a img {
    width: 150px;
    height: 58px;
  }

  & .title {
    text-align: center;
  }
}

.only-mobile {
  display: none;
}
